<nav class="navbar  navbar-expand-md  navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{loc.city}}, {{loc.country}} </a>

    <!-- <div class="navbar-collapse collapse" id="collapseNavbar"> -->
    <!-- Show this for logged out users -->
    <ul *ngIf="appShowAuthed === false" class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Log in
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Register
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *ngIf="appShowAuthed === true" class="navbar-nav ms-auto">
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/users"
            routerLinkActive="active">
            Users
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/profile"
            routerLinkActive="active">
            <i class="ion-gear-a"></i>My Account
          </a>
        </li>

    </ul>
  </div>
<!-- </div> -->
</nav>
